html{
    font-size: $baseFontSize;
    height: 100%;
    @include tablets{
        font-size: $baseFontSize - 1px;
    }
    @include phones{
        font-size: $baseFontSize - 2px;
    }
}
*{
    box-sizing: border-box;
}
body {
    font-family: $main-font;
    color: $main-text-color;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    
}

.wrapper {
    position: relative;
    width: 100%;
    min-width: rem(0px);
    min-height: 100%;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

button {
    border: none;
    background: transparent;
}

a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        text-decoration: none;
    }
}

.container {
    width: 100%;
    padding: rem(10px);
    max-width: rem(940px);
    margin: 0 auto;
    position: relative;
   
}

.btn {
    padding: rem(18px) rem(41px);   
    color: #fff;
    background: $red;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: rem(100px);
    transition: background .4s, color .4s;
    display: inline-block;

    &:hover {
        background: $main-text-color;
        color: #fff;
    }

    &--bg--transperent{
        background: transparent;
        color: inherit;
        text-transform: none;
        padding: 0;

        &:hover{
            color: $red;
            background: transparent;
        }
    }
    @include phones{
        font-size: 1.357rem;
    }
}

.section {
    margin-bottom: rem(100px);
    min-height: 100vh;
    &--hero{
        position: relative;
        display: flex;
        flex-direction: column;

        &::before{
            content: '';
            width: rem(46.32px);
            height: rem(10.38px);
            background: #C4C4C4;
            transform: rotate(-45deg);
            position: absolute;
            bottom: rem(-4px);
            right: rem(45px);
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--features{
            margin-bottom: rem(60px);
        }
        &--review{
            margin-bottom: rem(10px);
        }
        &--order{
            padding-top: rem(65px);
            margin-bottom: rem(40px);
        }
    }

    &__title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.1;
        text-transform: uppercase;
        text-align: center;
        
        margin-bottom: rem(10px);
        z-index: 999;
        @include phones{
            font-size: 2.285rem;
        }
    }

    &__desc {
        color: $desc-text-color;
        text-align: center;
        padding: 0 15%;
        @include phones{
            font-size: 1.142rem;
            padding: 0 3%;
        }
    }

    &--bg--gray {
        background: $gray;
    }
    &--bg--black{
        background: url('../img/order-bg.png') center center no-repeat, #181818;
        color: #fff;
    }
    &--margin--none{
        margin: 0;
    }
}