body {
    font-family: $main-font;
    color: $main-text-color;
    font-size: 16px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    position: relative;
    width: 100%;
    min-width: 0px;
    min-height: 100%;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

button {
    border: none;
    background: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        text-decoration: none;
    }
}

.container {
    width: auto;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}

.btn {
    padding: 18px 41px;   
    color: #fff;
    background: $red;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 100px;
    transition: background .4s, color .4s;

    &:hover {
        background: $main-text-color;
        color: #fff;
    }

    &--bg--transperent{
        background: transparent;
        color: inherit;
        text-transform: none;
        padding: 0;

        &:hover{
            color: $red;
            background: transparent;
        }
    }
}

.section {
    margin-bottom: 100px;
    height: 100vh;
    &--hero{
        position: relative;
        &::before{
            content: '';
            width: 46.32px;
            height: 10.38px;
            background: #C4C4C4;
            transform: rotate(-45deg);
            position: absolute;
            bottom: -4px;
            right: 45px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--features{
            margin-bottom: 60px;
        }
        &--review{
            margin-bottom: 10px;
        }
        &--order{
            padding-top: 65px;
            margin-bottom: 40px;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1;
        text-transform: uppercase;
        text-align: center;
        width: 65%;
        margin-bottom: 20px;
        z-index: 999;

    }

    &__desc {
        color: $desc-text-color;
        text-align: center;
        width: 55%;
    }

    &--bg--gray {
        background: $gray;
    }
    &--bg--black{
        background: url('../img/order-bg.png') center center no-repeat, #181818;
        color: #fff;
    }
}