@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap');
// color
$gray: #F5F5F5;
$red: #E01F3D;
// text-color
$main-text-color: #292929;
$desc-text-color: #666;
$spec-text-color: #000;
$price-text-color: #151515;
// fonts
$nav-font: 'Alegreya Sans', sans-serif;
$main-font: 'Play', sans-serif;

body {
    font-family: $main-font;
    color: $main-text-color;
    font-size: 16px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

button {
    border: none;
    background: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        text-decoration: none;
    }
}

.container {
    width: 940px;
    margin: 0 auto;
}

.btn {
    padding: 18px 41px;
    color: #fff;
    background: $red;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 100px;
    transition: background .4s, color .4s;

    &:hover {
        background: $main-text-color;
        color: #fff;
    }
}

// .fixed-menu{
//     position: absolute;
//     top: 250px;
//     right: 425px;
//     &__list{

//     }
//     &__item{
//        &--active .fixed-menu__link{
//         border-color: $red;
//        }
//     }
//     &__link{
//         width: 16px;
//         height: 16px;
//         border-radius: 50%;
//         border: 1px solid transparent;
//         display: block;
//         position: relative;
//     }
// }
.section {
    margin-bottom: 100px;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--features{
            margin-bottom: 60px;
        }
        &--review{
            margin-bottom: 10px;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1;
        text-transform: uppercase;
        text-align: center;
        width: 65%;
        margin-bottom: 20px;
        z-index: 999;

    }

    &__desc {
        color: $desc-text-color;
        text-align: center;
        width: 55%;
    }

    &--bg--gray {
        background: $gray;
    }
}

.hero {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 645px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 25px 0 25px 0;

    .logo {
        margin-right: -30px;
    }

    .menu {
        font-family: $nav-font;
        font-weight: 400;

        &__list {
            display: flex;
        }

        &__item {
            margin-right: 27px;
            transition: color .2s, text-decoration .2s;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $red;
                text-decoration: underline;
            }
        }
    }

    .contacts {
        margin-right: 25px;


        &__phone {
            transition: color .2s, text-decoration .2s;
            position: relative;

            &:before {
                content: url(../img/phone.png);
                position: absolute;
                left: -22px;
            }
        }

        &__phone:hover {
            color: $red;
            text-decoration: underline;
        }
    }

}

.main {
    padding-top: 62px;
    background: url(../img/headphones_white.png) top 20px right 20px no-repeat;

    &__text-section {
        width: 35%;
        margin-bottom: 80px;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.1;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__desc {
        font-size: 21px;
        font-family: $nav-font;
        margin-bottom: 50px;
    }

    &__specification-section {
        width: 55%;
    }

    &__specification-list {
        display: flex;
        justify-content: space-between;
    }

    &__specification-item {
        display: flex;
        margin-right: 25px;
        margin-bottom: 60px;
    }

    &__spicification-icon {
        margin-right: 10px;
    }
}

.features {
    display: flex;
    justify-content: space-between;

    &__item {}

    .feature {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;

        &__icon {
            min-height: 128px;
            margin-bottom: 20px;

            &--sphere {
                background: #F2F5F4;
                width: 128px;
                height: 128px;
                border-radius: 100%;

                @each $featureItem in (battery, sound, timer) {
                    &--#{$featureItem} {
                        background: #F2F5F4 url('../img/features/#{$featureItem}.png') center center no-repeat;

                    }
                }
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100px;
        }

        &__title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        &__desc {
            color: $desc-text-color;
            width: 217px;
        }
    }
}

.dashed {
    width: 24px;
    height: 24px;
    background: #F2F5F4;
    border-radius: 100%;
    position: absolute;
    right: -25px;
    top: 55px;

    &:before {
        content: '';
        width: 16px;
        height: 16px;
        background: #F2F5F4;
        border-radius: 100%;
        position: absolute;
        left: -25px;
        top: 5px;
    }

    &:after {
        content: '';
        width: 16px;
        height: 16px;
        background: #F2F5F4;
        border-radius: 100%;
        position: absolute;
        right: -25px;
        top: 5px;
    }
}

.reviews {
    display: flex;
    flex-direction: column;

    .review {
        display: flex;
        background: #F8FAF9;
        padding: 42px;
        margin-bottom: 15px;
        position: relative;
        &::after{
            content: '';
            width: 83px;
            height: 83px;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            top: -60px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            
        }

        &__photo {
            width: 253px;
            height: 264px;
            margin-right: 36px;
        }

        &__data {
            display: flex;
            flex-direction: column;
            padding: 32px 32px 0px 0px;
        }

        &__title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        &__text {
            color: $desc-text-color;
            margin-bottom: 23px;
            padding-right: 50px;
        }

        &__user-name {
            font-size: 18px;
            font-weight: 700;
        }
    }

    &__pager {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
    }

    &__item {
        margin-right: 5px;
        &:last-child{
            margin-right: 0;
        }
        & img {
            width: 74px;
            height: 74px;
            border-radius: 50%;
            outline-offset: -4px;
        }
        &--active img{
            outline: 4px solid $red;
        }
        &:hover img{
            outline: 4px solid $red;
        }
    }
}