@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
  height: 100%; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

* {
  box-sizing: border-box; }

b {
  font-weight: 700;
  font-size: 1.125rem;
  color: #000; }

body {
  font-family: "Play", sans-serif;
  color: #292929;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 0rem;
  min-height: 100%;
  overflow: hidden;
  transition: transform .5s; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

button {
  border: none;
  background: transparent; }

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    text-decoration: none; }

.container {
  width: 100%;
  padding: 0.625rem;
  max-width: 68.75rem;
  margin: 0 auto;
  position: relative; }
  .container--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.btn {
  padding: 1.125rem 2.5625rem;
  color: #fff;
  background: #E01F3D;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 6.25rem;
  transition: background .4s, color .4s;
  display: inline-block; }
  .btn:hover {
    background: #292929;
    color: #fff; }
  .btn--bg--transperent {
    background: transparent;
    color: inherit;
    text-transform: none;
    padding: 0; }
    .btn--bg--transperent:hover {
      color: #E01F3D;
      background: transparent; }
  @media screen and (max-width: 480px) {
    .btn {
      font-size: 1.357rem; } }

.section {
  height: 100vh;
  display: flex;
  align-items: center; }
  .section--hero {
    position: relative;
    display: flex;
    flex-direction: column; }
    .section--hero::before {
      content: '';
      width: 2.895rem;
      height: 0.64875rem;
      background: #C4C4C4;
      transform: rotate(-45deg);
      position: absolute;
      bottom: -0.25rem;
      right: 2.8125rem; }
  .section__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.125rem;
    margin-bottom: 3.125rem; }
    .section__info--features {
      margin-bottom: 3.75rem; }
    .section__info--review {
      margin-bottom: 0.625rem; }
    .section__info--order {
      padding-top: 4.0625rem;
      margin-bottom: 2.5rem; }
  .section__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.625rem;
    z-index: 999; }
    @media screen and (max-width: 480px) {
      .section__title {
        font-size: 2.285rem; } }
  .section__desc {
    color: #666;
    text-align: center;
    padding: 0 15%; }
    @media screen and (max-width: 480px) {
      .section__desc {
        font-size: 1.142rem;
        padding: 0 3%; } }
  .section--bg--gray {
    background: #F5F5F5; }
  .section--bg--form {
    background: url("../img/order-bg.png") center center no-repeat, #181818;
    color: #fff; }
  .section--bg--black {
    background-color: #000; }
  .section--margin--none {
    margin: 0; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  padding: 1.5625rem 0 1.5625rem 0; }
  .header__container {
    align-self: flex-start; }
  .header .logo {
    margin-right: -1.875rem; }
    .header .logo__icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: #E01F3D; }
  .header .menu {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    margin: 0px 2.1875rem; }
    .header .menu__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start; }
    .header .menu__item {
      margin-right: 1.6875rem;
      margin-bottom: 0.3125rem;
      transition: color .2s, text-decoration .2s; }
      .header .menu__item:last-child {
        margin-right: 0; }
      .header .menu__item:hover {
        color: #E01F3D;
        text-decoration: underline; }
    @media screen and (max-width: 768px) {
      .header .menu {
        display: none; } }
  .header .contacts {
    margin-right: 1.5625rem;
    display: inline-flex;
    align-items: center;
    transition: color .2s, text-decoration .2s, fill .2s; }
    .header .contacts__icon {
      width: 0.875rem;
      height: 0.875rem;
      margin-right: 0.3125rem; }
    .header .contacts:hover {
      color: #E01F3D;
      text-decoration: underline;
      fill: #E01F3D; }
    @media screen and (max-width: 768px) {
      .header .contacts {
        display: none; } }
  .header .nav__hide {
    width: 1.631875rem;
    height: 0.2775rem;
    background: #292929;
    position: relative;
    border-radius: 0.3125rem;
    display: none;
    transition: background .3s;
    z-index: 5; }
    .header .nav__hide:hover {
      background: #E01F3D; }
      .header .nav__hide:hover::after, .header .nav__hide:hover::before {
        background: #E01F3D; }
    .header .nav__hide::after {
      content: "";
      width: 1.631875rem;
      height: 0.2775rem;
      background: #292929;
      border-radius: 0.3125rem;
      position: absolute;
      top: -0.5rem;
      transition: background .3s; }
    .header .nav__hide::before {
      content: "";
      width: 1.631875rem;
      height: 0.2775rem;
      background: #292929;
      border-radius: 0.3125rem;
      position: absolute;
      bottom: -0.5rem;
      transition: background .3s; }
    @media screen and (max-width: 768px) {
      .header .nav__hide {
        display: inline-flex; } }

.hero {
  position: relative; }
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40.3125rem;
    position: relative; }

.specification {
  display: flex; }
  .specification__icon {
    width: 2.5625rem;
    height: 2.5625rem;
    margin-right: 0.625rem; }
  .specification-text {
    width: 7.125rem; }

.welcome {
  padding-top: 3.875rem;
  background: url(../img/headphones_white.png) right center/50% auto no-repeat;
  align-self: center; }
  @media screen and (max-width: 768px) {
    .welcome {
      background: none; } }
  .welcome__text-section {
    width: 45%;
    margin-bottom: 1rem; }
    @media screen and (max-width: 768px) {
      .welcome__text-section {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .welcome__text-section::before {
          content: '';
          width: 323px;
          height: 323px;
          background: url("../img/headphones_white.png") center center no-repeat;
          background-size: contain;
          margin-bottom: 4.375rem; } }
  .welcome__btn {
    margin-bottom: 3.125rem; }
  .welcome__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 0.625rem; }
    @media screen and (max-width: 768px) {
      .welcome__title {
        padding: 0 5rem; } }
    @media screen and (max-width: 480px) {
      .welcome__title {
        font-size: 2.285rem; } }
  .welcome__desc {
    font-size: 1.3125rem;
    font-family: "Alegreya Sans", sans-serif;
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 768px) {
      .welcome__desc {
        padding: 0 25%; } }
    @media screen and (max-width: 480px) {
      .welcome__desc {
        padding: 0 16%;
        font-size: 1.285rem; } }
  .welcome__specification-section {
    width: 60%; }
    @media screen and (max-width: 768px) {
      .welcome__specification-section {
        display: none; } }
  .welcome__specification-list {
    display: flex; }
  .welcome__specification-item {
    margin-right: 0.625rem;
    margin-bottom: 3.75rem; }

.feature {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .feature {
      display: flex;
      text-align: left;
      align-items: center; } }
  .feature__image-wrapper {
    display: inline-block;
    width: 7.875rem;
    height: 7.875rem;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.125rem; }
    @media screen and (max-width: 480px) {
      .feature__image-wrapper {
        margin-bottom: 0;
        margin-right: 1.25rem; } }
  .feature__icon {
    width: 3.75rem;
    height: 3.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .feature__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.125rem; }
  .feature__desc {
    color: #666;
    line-height: 1.2;
    padding: 0 0.5625rem; }
    @media screen and (max-width: 480px) {
      .feature__desc {
        padding: 0;
        font-size: 1.142rem; } }

.features__section {
  position: relative; }
  .features__section::before {
    content: url("../img/icons/decoration/tringle.svg");
    position: absolute;
    bottom: -1.5625rem;
    left: 5%;
    z-index: 9999; }

.features {
  display: flex; }
  @media screen and (max-width: 480px) {
    .features {
      flex-direction: column; } }
  .features__item {
    flex: 1;
    padding: 0 3%;
    position: relative; }
    .features__item::after {
      content: url("../img/icons/decoration/separator.svg");
      position: absolute;
      top: 3.4375rem;
      right: 0;
      transform: translateX(50%); }
      @media screen and (max-width: 768px) {
        .features__item::after {
          display: none; } }
    @media screen and (max-width: 480px) {
      .features__item {
        padding: 0;
        margin-bottom: 1.25rem; } }
    .features__item:first-child {
      padding-left: 0; }
    .features__item:last-child {
      padding-right: 0; }
      .features__item:last-child::after {
        display: none; }

.reviews {
  display: flex;
  flex-direction: column;
  position: relative; }
  .reviews .review {
    background: #F8FAF9;
    padding: 2.625rem;
    margin-bottom: 0.625rem;
    position: relative;
    display: none; }
    .reviews .review--active {
      display: flex; }
    @media screen and (max-width: 768px) {
      .reviews .review {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 1.5625rem; } }
    .reviews .review::after {
      content: '';
      width: 5.1875rem;
      height: 5.1875rem;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: -3.75rem;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
    .reviews .review__photo {
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin-right: 2.25rem; }
      @media screen and (max-width: 768px) {
        .reviews .review__photo {
          margin-right: 0; } }
      @media screen and (max-width: 768px) {
        .reviews .review__photo-user {
          width: 130px;
          height: 130px; } }
    .reviews .review__data {
      display: flex;
      flex-direction: column;
      padding: 2rem 2rem 0rem 0rem; }
    .reviews .review__title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1.25rem; }
    .reviews .review__text {
      color: #666;
      margin-bottom: 2.5rem;
      padding-right: 3.125rem;
      line-height: 1.2; }
      @media screen and (max-width: 768px) {
        .reviews .review__text {
          padding: 0; } }
      @media screen and (max-width: 480px) {
        .reviews .review__text {
          font-size: 1.142rem; } }
    .reviews .review__user-name {
      font-size: 1.125rem;
      font-weight: 700; }
  .reviews__pager {
    display: flex;
    justify-content: center;
    margin-bottom: 4.6875rem; }
  .reviews__list {
    display: flex; }
  .reviews__item {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    margin-right: 0.3125rem; }
    .reviews__item--active .reviews__item-img {
      border-color: #E01F3D; }
    .reviews__item:hover .reviews__item-img {
      border-color: #E01F3D; }
    @media screen and (max-width: 768px) {
      .reviews__item {
        margin-right: 0.625rem; } }
    @media screen and (max-width: 480px) {
      .reviews__item {
        margin-right: 0.3125rem; } }
  .reviews__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block; }
  .reviews__item-img {
    display: block;
    width: 73px;
    height: 73px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid transparent; }
    @media screen and (max-width: 480px) {
      .reviews__item-img {
        width: 64px;
        height: 64px; } }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 0.9375rem;
  margin-bottom: 0.625rem; }
  @media screen and (max-width: 768px) {
    .radio {
      margin-bottom: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .radio {
      font-size: 1.142rem; } }
  .radio--checkbox .radio__visible {
    border-radius: 0.3125rem; }
    .radio--checkbox .radio__visible::before {
      background: url("../img/icons/decoration/tick.svg") center center no-repeat; }
  .radio__elem {
    display: none; }
    .radio__elem:checked ~ .radio__visible::before {
      display: block; }
  .radio__visible {
    width: 1.5625rem;
    height: 1.5625rem;
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: 0.625rem; }
    .radio__visible::before {
      content: "";
      display: none;
      width: 0.875rem;
      height: 0.875rem;
      background: #E01F3D;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.form__section {
  position: relative; }
  .form__section::before {
    content: url("../img/icons/decoration/pentagon.svg");
    position: absolute;
    top: -1.5625rem;
    right: 5%; }

.form__container {
  position: relative; }

.form {
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      flex-direction: column;
      padding: 0 18%; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0;
      font-size: 1.142rem; } }
  .form__col {
    flex: 1;
    margin-right: 3.25rem; }
    .form__col:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .form__col {
        margin-right: 0; } }
  .form__row {
    display: flex;
    margin-bottom: 1.125rem; }
  .form__block {
    flex: 1;
    margin-right: 1rem; }
    .form__block:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .form__block {
        margin-right: 1.25rem; } }
  .form__input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 1.125rem 0.625rem;
    border: 0.1875rem solid transparent;
    border-radius: 0.3125rem; }
    .form__input--error {
      border-color: orange; }
    .form__input--textarea {
      height: 7.5rem;
      resize: none;
      margin-bottom: 0.625rem; }
      @media screen and (max-width: 768px) {
        .form__input--textarea {
          height: 5.625rem; } }
    .form__input:focus {
      border-color: #E01F3D;
      outline: none;
      color: #E01F3D; }
    @media screen and (max-width: 768px) {
      .form__input {
        padding: 0.5rem 0.625rem; } }
  .form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem; }
    .form__controls--radio {
      margin-bottom: 2.75rem; }
    @media screen and (max-width: 480px) {
      .form__controls {
        justify-content: center; } }
  .form__btns {
    margin-bottom: 5.3125rem; }
    .form__btns .btn {
      margin-right: 0.9375rem; }
      .form__btns .btn:last-child {
        margin-right: 0; }
    @media screen and (max-width: 768px) {
      .form__btns {
        display: flex;
        justify-content: center; } }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5625rem 0;
  background: #fff; }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 480px) {
      .footer__container {
        flex-direction: column;
        text-align: center; } }
  .footer__info {
    font-size: 1.125rem; }
    @media screen and (max-width: 480px) {
      .footer__info {
        margin-bottom: 1.25rem; } }
    @media screen and (max-width: 768px) {
      .footer__info-location {
        font-size: 1.4rem; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .footer__info-location {
      font-size: 1.285rem; } }

    .footer__info-phone {
      display: inline-flex;
      align-items: center;
      transition: color .2s, text-decoration .2s, fill .2s; }
      .footer__info-phone:hover {
        color: #E01F3D;
        text-decoration: underline;
        fill: #E01F3D; }
    .footer__info .contacts__icon {
      width: 0.875rem;
      height: 0.875rem;
      margin-right: 0.3125rem; }
  .footer__phone {
    position: relative; }
    @media screen and (max-width: 768px) {
      .footer__phone {
        font-size: 1.2rem; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .footer__phone {
      font-size: 1.142rem; } }

  .footer__nav-list {
    display: flex; }
  .footer__nav-item {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.625rem;
    border-radius: 50%; }
    .footer__nav-item:last-child {
      margin-right: 0; }
  .footer__nav-link {
    width: 100%;
    height: 100%; }
  .footer__nav-icon {
    width: 30px;
    height: 30px;
    fill: #B3B3B3; }
    .footer__nav-icon:hover {
      fill: black; }

.map {
  content: url("../img/map.png");
  width: 100%;
  height: 652px; }
  .map__section {
    min-height: 652px; }
    @media screen and (max-width: 768px) {
      .map__section {
        min-height: 526px; } }
    @media screen and (max-width: 480px) {
      .map__section {
        min-height: 482px; } }
  @media screen and (max-width: 768px) {
    .map {
      height: 526px; } }
  @media screen and (max-width: 480px) {
    .map {
      height: 482px; } }

.slider__section {
  position: relative; }
  .slider__section::before {
    content: url("../img/icons/decoration/rect.svg");
    position: absolute;
    bottom: -1.5625rem;
    right: 5%; }

.arrow {
  width: 0.84375rem;
  height: 1.6875rem;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  fill: none; }
  .arrow--right {
    transform: rotate(180deg); }

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative; }
  .slider__control {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%; }
    .slider__control--left {
      right: 99%; }
    .slider__control--right {
      left: 99%; }
    @media screen and (max-width: 768px) {
      .slider__control {
        display: none; } }
  @media screen and (min-width: 769px) {
    .slider__btn--tablets {
      display: none !important; } }
  .slider__product {
    display: flex;
    align-items: center; }
    @media screen and (min-width: 769px) {
      .slider__product {
        margin: 0 1.25rem; } }
    @media screen and (max-width: 768px) {
      .slider__product {
        flex-direction: column;
        text-align: center; } }
    .slider__product-image {
      width: 150%;
      margin-right: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media screen and (max-width: 768px) {
        .slider__product-image {
          width: 41.47%;
          margin-bottom: 3.125rem;
          margin-right: 0; } }
      .slider__product-image img {
        width: 100%;
        height: auto; }
        @media screen and (max-width: 768px) {
          .slider__product-image img {
            margin: 0 3.75rem; } }
    .slider__product-info {
      display: flex;
      flex-direction: column; }
  .slider__hide-info {
    box-sizing: border-box;
    margin-bottom: 0.625rem;
    position: relative; }
    @media screen and (max-width: 768px) {
      .slider__hide-info {
        display: none; } }
    .slider__hide-info .setting {
      width: 5.6875rem;
      height: 5.6875rem;
      fill: white; }
    .slider__hide-info-btn {
      position: relative; }
      .slider__hide-info-btn:hover .character-list {
        display: flex;
        flex-direction: column; }
    .slider__hide-info .character-list {
      display: none;
      position: absolute;
      background: #cccccccc;
      top: -4.75rem;
      left: 5.6875rem;
      border-radius: 4px;
      width: 17.0625rem;
      min-height: 18.125rem;
      z-index: 99999;
      padding: 1.125rem 0.875rem;
      box-shadow: 4px 4px 40px 0px #0000000F; }
  .slider__title {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 1.3; }
  .slider__main-info {
    padding: 0 3.125rem 0 0; }
    @media screen and (max-width: 768px) {
      .slider__main-info {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .slider__desc {
    color: #666;
    margin-bottom: 0.625rem; }
  .slider__main-characters-list {
    color: #666;
    display: flex;
    margin-bottom: 0.9375rem; }
    .slider__main-characters-list .main-characters-item {
      margin-right: 5.3125rem; }
      .slider__main-characters-list .main-characters-item:last-child {
        margin-right: 0; }
  .slider__buy-section {
    display: flex;
    align-items: center; }
  .slider__price {
    font-size: 36px;
    color: #151515;
    margin-right: 1.25rem;
    white-space: nowrap; }

.character {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.75rem; }
  .character-item {
    margin-bottom: 0.3125rem; }
    .character-item-icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.9375rem; }
    .character-item:last-child {
      margin-bottom: 0; }
  .character__name {
    display: flex; }

.team {
  display: flex;
  flex-direction: column;
  min-height: 28.375rem;
  width: 13.875rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    .team {
      min-height: auto; } }
  .team__pic {
    width: 100%;
    height: 18.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem; }
    .team__pic img {
      width: 100%;
      height: 100%; }
  .team__content {
    padding: 0.3125rem;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s; }
    @media screen and (max-width: 768px) {
      .team__content {
        padding: 0; } }
  .team__name {
    font-size: 1.125rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 0.625rem;
    display: inline-block;
    transition: color .2s; }
    .team__name:hover {
      color: #E01F3D; }
    .team__name::after {
      content: url("../img/icons/decoration/team-active.svg");
      margin-left: 0.3125rem;
      display: inline-block;
      transition: transform .5s; }
    .team__name--active::after {
      transform: rotate(180deg) translateY(-25%); }
  @media screen and (max-width: 768px) {
    .team__info {
      margin-bottom: 1.25rem; } }
  .team__spec {
    color: #000;
    margin-bottom: 0.3125rem; }
  .team__desc {
    color: #666; }

.teams__list {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .teams__list--desktop {
      display: none; } }
  @media screen and (min-width: 769px) {
    .teams__list--tablets {
      display: none; } }
  @media screen and (max-width: 768px) {
    .teams__list {
      flex-direction: column;
      align-items: center; } }

.teams__item {
  margin-right: 0.9375rem;
  display: flex;
  align-items: center; }
  .teams__item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .teams__item {
      margin-right: 0;
      margin-bottom: 1.25rem; } }

.color {
  min-height: 40.75rem;
  color: #fff;
  background: url("../img/color-menu.png") center center no-repeat;
  position: relative; }
  .color__title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    padding: 10% 0 0 8%; }
  .color__list {
    display: inline-flex;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .color__item {
    height: 100%;
    display: flex; }
  .color__button-open {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    height: 40.75rem;
    padding: 1.875rem;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 36px;
    font-weight: 700; }
    .color__button-open--gray {
      background-color: #999; }
    .color__button-open--black {
      background-color: #151515; }
    .color__button-open--red {
      background-color: #E01F3D; }
  .color__content {
    width: 0;
    overflow: hidden;
    background: #333537E5;
    font-family: "Alegreya Sans", sans-serif;
    line-height: 1.6;
    transition: width .5s; }
  .color__text {
    width: 34.375rem;
    overflow: hidden;
    padding: 30px 100px 30px 30px; }

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 999; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }
  .fixed-menu__item {
    margin-bottom: 0.3125rem;
    opacity: 60%; }
    .fixed-menu__item--active {
      opacity: 100; }
      .fixed-menu__item--active .fixed-menu__link {
        border-color: #E01F3D; }
        .fixed-menu__item--active .fixed-menu__link::before {
          background: #E01F3D; }
  .fixed-menu__link {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.0625rem solid transparent;
    display: block;
    position: relative; }
    .fixed-menu__link::before {
      content: "";
      position: absolute;
      width: 0.375rem;
      height: 0.375rem;
      display: block;
      border-radius: 50%;
      background: #292929;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.menu__open {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #333537;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  color: #fff;
  text-align: center;
  display: none; }
  @media screen and (min-width: 769px) {
    .menu__open {
      display: none !important; } }
  .menu__open-item {
    margin-bottom: 1.25rem; }
    .menu__open-item:hover {
      color: #E01F3D;
      text-decoration: underline; }

.menu__close {
  position: absolute;
  top: 2.625rem;
  right: 2.625rem; }

.close {
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
  opacity: 70%; }
  .close:hover {
    fill: #E01F3D; }

.modal {
  display: none; }
  .modal.fancybox-content {
    padding: 0 !important; }
  .modal.fancybox-button {
    display: none; }
  .modal__container {
    padding: 35px 60px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .modal__content {
    margin-bottom: 20px; }
    .modal__content--error {
      color: #E01F3D; }
  .modal__button-container {
    display: flex;
    justify-content: center; }
