//width 
$container-width: 940px;
// color
$gray: #F5F5F5;
$red: #E01F3D;

$main-text-color: #292929;
$desc-text-color: #666;
$spec-text-color: #000;
$price-text-color: #151515;

// fonts
$main-font: 'Play', sans-serif;
$nav-font: 'Alegreya Sans', sans-serif;


// normalize 

@import url('./normalize.css');

// setups

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap');
@import "layout";


//components

@import "components/header.scss";
@import "components/hero.scss";
@import "components/welcome.scss";
@import "components/features.scss";
@import "components/reviews.scss";
@import "components/form.scss";

@import "components/fixed-menu.scss";


@media (max-width: 768px){

    .container{
        max-width: 700px;
    }
    // WELCOME SECTION
    .header{
        
        .menu{
            display: none;
        }
        .contacts{
            display: none;
        }
        .nav__hide{
            display: inline;
        }
    }
    .welcome{
        background: none;
        display: flex;
        flex-direction: column;
        &__img-section{
            margin: 0 auto;
            box-sizing: border-box;
            display: inline;
            max-width: 323px;
            margin-bottom: 60px;
            img{
                width: 100%;
            }
        }
        &::after{
            content: '';

            margin: 0 auto;
            
        }
        
        &__text-section{
            margin: 0 auto;
            width: 100%;
            text-align: center;
        }
        &__desc{
            width: 59%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__specification-section{
            display: none;
        }
        
    }
    //
}
@media (max-width: 480px){
    //WELCOME SECTION
    .welcome{
        &__title{
            font-size: 2rem;
        }
        &__desc{
            font-size: 1.125rem;
        }
        &__btn{
            font-size: 1.1875rem;
        }
    }
    //
}






