@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");
html {
  font-size: 16px; }

body {
  font-family: "Play", sans-serif;
  color: #292929;
  font-size: 1rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 0px;
  min-height: 100%;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

button {
  border: none;
  background: transparent; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    text-decoration: none; }

.container {
  width: auto;
  max-width: 940px;
  margin: 0 auto;
  position: relative; }

.btn {
  padding: 18px 41px;
  color: #fff;
  background: #E01F3D;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 100px;
  transition: background .4s, color .4s;
  display: inline-block; }
  .btn:hover {
    background: #292929;
    color: #fff; }
  .btn--bg--transperent {
    background: transparent;
    color: inherit;
    text-transform: none;
    padding: 0; }
    .btn--bg--transperent:hover {
      color: #E01F3D;
      background: transparent; }

.section {
  margin-bottom: 100px;
  height: 100vh; }
  .section--hero {
    position: relative; }
    .section--hero::before {
      content: '';
      width: 46.32px;
      height: 10.38px;
      background: #C4C4C4;
      transform: rotate(-45deg);
      position: absolute;
      bottom: -4px;
      right: 45px; }
  .section__info {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section__info--features {
      margin-bottom: 60px; }
    .section__info--review {
      margin-bottom: 10px; }
    .section__info--order {
      padding-top: 65px;
      margin-bottom: 40px; }
  .section__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    width: 65%;
    margin-bottom: 20px;
    z-index: 999; }
  .section__desc {
    color: #666;
    text-align: center;
    width: 55%; }
  .section--bg--gray {
    background: #F5F5F5; }
  .section--bg--black {
    background: url("../img/order-bg.png") center center no-repeat, #181818;
    color: #fff; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 25px 0 25px 0; }
  .header .logo {
    margin-right: -30px; }
  .header .menu {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400; }
    .header .menu__list {
      display: flex; }
    .header .menu__item {
      margin-right: 27px;
      transition: color .2s, text-decoration .2s; }
      .header .menu__item:last-child {
        margin-right: 0; }
      .header .menu__item:hover {
        color: #E01F3D;
        text-decoration: underline; }
  .header .contacts {
    margin-right: 25px; }
    .header .contacts__phone {
      transition: color .2s, text-decoration .2s;
      position: relative; }
      .header .contacts__phone:before {
        content: url(../img/phone.png);
        position: absolute;
        left: -22px; }
    .header .contacts__phone:hover {
      color: #E01F3D;
      text-decoration: underline; }
  .header .nav__hide {
    width: 26.11px;
    height: 4.44px;
    background: #292929;
    position: relative;
    border-radius: 5px;
    display: none;
    transition: background .3s; }
    .header .nav__hide:hover {
      background: #E01F3D; }
      .header .nav__hide:hover::after, .header .nav__hide:hover::before {
        background: #E01F3D; }
    .header .nav__hide::after {
      content: "";
      width: 26.11px;
      height: 4.44px;
      background: #292929;
      border-radius: 5px;
      position: absolute;
      top: -8px;
      transition: background .3s; }
    .header .nav__hide::before {
      content: "";
      width: 26.11px;
      height: 4.44px;
      background: #292929;
      border-radius: 5px;
      position: absolute;
      bottom: -8px;
      transition: background .3s; }

.hero {
  position: relative; }
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 645px;
    position: relative; }

.specification {
  display: flex; }
  .specification-icon {
    width: 41px;
    height: 41px;
    margin-right: 10px; }
  .specification-text {
    width: 114px; }

.welcome {
  padding-top: 62px;
  background: url(../img/headphones_white.png) right center/50% auto no-repeat; }
  .welcome__img-section {
    display: none; }
  .welcome__text-section {
    width: 35%;
    margin-bottom: 80px; }
  .welcome__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .welcome__desc {
    font-size: 1.31rem;
    font-family: "Alegreya Sans", sans-serif;
    margin-bottom: 50px; }
  .welcome__specification-section {
    width: 60%; }
  .welcome__specification-list {
    display: flex;
    flex-wrap: wrap; }
  .welcome__specification-item {
    margin-right: 10px;
    margin-bottom: 60px; }

.feature {
  text-align: center; }
  .feature__image-wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 18px; }
  .feature__icon {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .feature__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 2px; }
  .feature__desc {
    color: #666;
    line-height: 1.2;
    padding: 0 9px; }

.features {
  display: flex; }
  .features__item {
    flex: 1;
    padding: 0 3%;
    position: relative; }
    .features__item::after {
      content: url("../img/icons/separator.png");
      position: absolute;
      top: 55px;
      right: 0;
      transform: translateX(50%); }
    .features__item:first-child {
      padding-left: 0; }
    .features__item:last-child {
      padding-right: 0; }
      .features__item:last-child::after {
        display: none; }

.reviews {
  display: flex;
  flex-direction: column;
  position: relative; }
  .reviews .review {
    display: flex;
    background: #F8FAF9;
    padding: 42px;
    margin-bottom: 10px;
    position: relative; }
    .reviews .review::after {
      content: '';
      width: 83px;
      height: 83px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: -60px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
    .reviews .review__photo {
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin-right: 36px; }
    .reviews .review__data {
      display: flex;
      flex-direction: column;
      padding: 32px 32px 0px 0px; }
    .reviews .review__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px; }
    .reviews .review__text {
      color: #666;
      margin-bottom: 40px;
      padding-right: 50px;
      line-height: 1.2; }
    .reviews .review__user-name {
      font-size: 18px;
      font-weight: 700; }
  .reviews__pager {
    display: flex;
    justify-content: center;
    margin-bottom: 75px; }
  .reviews__list {
    display: flex; }
  .reviews__item {
    width: 70px;
    height: 70px;
    border: 3px solid transparent;
    border-radius: 50%;
    position: relative;
    margin-right: 5px; }
    .reviews__item--active {
      border-color: #E01F3D; }
    .reviews__item:hover {
      border-color: #E01F3D; }
  .reviews__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block; }
  .reviews__item-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 15px; }
  .radio--checkbox .radio__visible {
    border-radius: 5px; }
    .radio--checkbox .radio__visible::before {
      background: url("../img/icons/tick.png") center center no-repeat; }
  .radio__elem {
    display: none; }
    .radio__elem:checked ~ .radio__visible::before {
      display: block; }
  .radio__visible {
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px; }
    .radio__visible::before {
      content: "";
      display: none;
      width: 14px;
      height: 14px;
      background: #E01F3D;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.form__container {
  position: relative; }
  .form__container::before {
    content: url("../img/icons/pentagon.png");
    position: absolute;
    top: -25px;
    right: 0; }

.form {
  display: flex; }
  .form__col {
    flex: 1;
    margin-right: 52px; }
    .form__col:last-child {
      margin-right: 0; }
  .form__row {
    display: flex;
    margin-bottom: 18px; }
  .form__block {
    flex: 1;
    margin-right: 38px; }
    .form__block:last-child {
      margin-right: 0; }
  .form__input {
    width: 100%;
    border: none;
    padding: 18px 10px;
    border: 3px solid transparent;
    border-radius: 5px; }
    .form__input--textarea {
      height: 120px;
      resize: none;
      margin-bottom: 10px; }
    .form__input:focus {
      border-color: #E01F3D;
      outline: none;
      color: #E01F3D; }
  .form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px; }
    .form__controls--radio {
      margin-bottom: 44px; }
  .form__btns {
    margin-bottom: 85px; }
    .form__btns .btn {
      margin-right: 15px; }
      .form__btns .btn:last-child {
        margin-right: 0; }

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 999; }
  .fixed-menu__item {
    margin-bottom: 5px;
    opacity: 60%; }
    .fixed-menu__item--active {
      opacity: 100; }
      .fixed-menu__item--active .fixed-menu__link {
        border-color: #E01F3D; }
        .fixed-menu__item--active .fixed-menu__link::before {
          background: #E01F3D; }
  .fixed-menu__link {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative; }
    .fixed-menu__link::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      display: block;
      border-radius: 50%;
      background: #292929;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

@media (max-width: 768px) {
  .container {
    max-width: 700px; }

  .header .menu {
    display: none; }
  .header .contacts {
    display: none; }
  .header .nav__hide {
    display: inline; }

  .welcome {
    background: none;
    display: flex;
    flex-direction: column; }
    .welcome__img-section {
      margin: 0 auto;
      box-sizing: border-box;
      display: inline;
      max-width: 323px;
      margin-bottom: 60px; }
      .welcome__img-section img {
        width: 100%; }
    .welcome::after {
      content: '';
      margin: 0 auto; }
    .welcome__text-section {
      margin: 0 auto;
      width: 100%;
      text-align: center; }
    .welcome__desc {
      width: 59%;
      margin: 0 auto;
      margin-bottom: 30px; }
    .welcome__specification-section {
      display: none; }

  .section__title {
    width: 100%; }
  .section__desc {
    width: 78%; }

  .features__item::after {
    display: none; } }
@media (max-width: 480px) {
  .welcome__title {
    font-size: 2rem; }
  .welcome__desc {
    font-size: 1.125rem; }
  .welcome__btn {
    font-size: 1.1875rem; }

  .section__title {
    font-size: 2rem; }

  .features {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .features .feature {
      display: flex;
      text-align: left;
      justify-content: center; }
      .features .feature__desc {
        padding: 0; } }
