@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");
body {
  font-family: "Play", sans-serif;
  color: #292929;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1100px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

button {
  border: none;
  background: transparent; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    text-decoration: none; }

.container {
  width: 940px;
  margin: 0 auto; }

.btn {
  padding: 18px 41px;
  color: #fff;
  background: #E01F3D;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 100px;
  transition: background .4s, color .4s; }
  .btn:hover {
    background: #292929;
    color: #fff; }

.section {
  margin-bottom: 100px; }
  .section__info {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section__info--features {
      margin-bottom: 60px; }
    .section__info--review {
      margin-bottom: 10px; }
  .section__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    width: 65%;
    margin-bottom: 20px;
    z-index: 999; }
  .section__desc {
    color: #666;
    text-align: center;
    width: 55%; }
  .section--bg--gray {
    background: #F5F5F5; }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 645px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 25px 0 25px 0; }
  .header .logo {
    margin-right: -30px; }
  .header .menu {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400; }
    .header .menu__list {
      display: flex; }
    .header .menu__item {
      margin-right: 27px;
      transition: color .2s, text-decoration .2s; }
      .header .menu__item:last-child {
        margin-right: 0; }
      .header .menu__item:hover {
        color: #E01F3D;
        text-decoration: underline; }
  .header .contacts {
    margin-right: 25px; }
    .header .contacts__phone {
      transition: color .2s, text-decoration .2s;
      position: relative; }
      .header .contacts__phone:before {
        content: url(../img/phone.png);
        position: absolute;
        left: -22px; }
    .header .contacts__phone:hover {
      color: #E01F3D;
      text-decoration: underline; }

.main {
  padding-top: 62px;
  background: url(../img/headphones_white.png) top 20px right 20px no-repeat; }
  .main__text-section {
    width: 35%;
    margin-bottom: 80px; }
  .main__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .main__desc {
    font-size: 21px;
    font-family: "Alegreya Sans", sans-serif;
    margin-bottom: 50px; }
  .main__specification-section {
    width: 55%; }
  .main__specification-list {
    display: flex;
    justify-content: space-between; }
  .main__specification-item {
    display: flex;
    margin-right: 25px;
    margin-bottom: 60px; }
  .main__spicification-icon {
    margin-right: 10px; }

.features {
  display: flex;
  justify-content: space-between; }
  .features .feature {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; }
    .features .feature__icon {
      min-height: 128px;
      margin-bottom: 20px; }
      .features .feature__icon--sphere {
        background: #F2F5F4;
        width: 128px;
        height: 128px;
        border-radius: 100%; }
        .features .feature__icon--sphere--battery {
          background: #F2F5F4 url("../img/features/battery.png") center center no-repeat; }
        .features .feature__icon--sphere--sound {
          background: #F2F5F4 url("../img/features/sound.png") center center no-repeat; }
        .features .feature__icon--sphere--timer {
          background: #F2F5F4 url("../img/features/timer.png") center center no-repeat; }
    .features .feature__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100px; }
    .features .feature__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5px; }
    .features .feature__desc {
      color: #666;
      width: 217px; }

.dashed {
  width: 24px;
  height: 24px;
  background: #F2F5F4;
  border-radius: 100%;
  position: absolute;
  right: -25px;
  top: 55px; }
  .dashed:before {
    content: '';
    width: 16px;
    height: 16px;
    background: #F2F5F4;
    border-radius: 100%;
    position: absolute;
    left: -25px;
    top: 5px; }
  .dashed:after {
    content: '';
    width: 16px;
    height: 16px;
    background: #F2F5F4;
    border-radius: 100%;
    position: absolute;
    right: -25px;
    top: 5px; }

.reviews {
  display: flex;
  flex-direction: column; }
  .reviews .review {
    display: flex;
    background: #F8FAF9;
    padding: 42px;
    margin-bottom: 15px;
    position: relative; }
    .reviews .review::after {
      content: '';
      width: 83px;
      height: 83px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: -60px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
    .reviews .review__photo {
      width: 253px;
      height: 264px;
      margin-right: 36px; }
    .reviews .review__data {
      display: flex;
      flex-direction: column;
      padding: 32px 32px 0px 0px; }
    .reviews .review__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px; }
    .reviews .review__text {
      color: #666;
      margin-bottom: 23px;
      padding-right: 50px; }
    .reviews .review__user-name {
      font-size: 18px;
      font-weight: 700; }
  .reviews__pager {
    display: flex;
    justify-content: center; }
  .reviews__list {
    display: flex; }
  .reviews__item {
    margin-right: 5px; }
    .reviews__item:last-child {
      margin-right: 0; }
    .reviews__item img {
      width: 74px;
      height: 74px;
      border-radius: 50%;
      outline-offset: -4px; }
    .reviews__item--active img {
      outline: 4px solid #E01F3D; }
    .reviews__item:hover img {
      outline: 4px solid #E01F3D; }
