//width 
$container-width: 940px;
// color
$gray: #F5F5F5;
$red: #E01F3D;

$main-text-color: #292929;
$desc-text-color: #666;
$spec-text-color: #000;
$price-text-color: #151515;

// fonts
$main-font: 'Play', sans-serif;
$nav-font: 'Alegreya Sans', sans-serif;


// fonts-size
@import "media";
$baseFontSize: 16px;
$title: rem(48px);
$desc: rem(16px);
$sub_title: rem(21px);

// media 
$tablets: 768px;
$phones: 480px;


// normalize 

@import url('./normalize.css');

// setups

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap');
@import "layout";


//components

@import "components/header.scss";
@import "components/hero.scss";
@import "components/welcome.scss";
@import "components/features.scss";
@import "components/reviews.scss";
@import "components/form.scss";
@import "components/footer.scss";
@import "components/map.scss";
@import "components/slider.scss";
@import "components/teams.scss";
@import "components/color.scss";

@import "components/fixed-menu.scss";
@import "components/open-menu.scss";
@import "components/modal.scss";






