@import "radio.scss";
.form__section{
    position: relative;
    background: url('./img/order-bg.png') center center / cover no-repeat;
    color: #fff;
    &::before{
        content: url('./img/icons/decoration/pentagon.svg');
        position: absolute;
        top: -25px;
        right: 5%;

    }
}
.form__container{
    position: relative;
    
}

.form{
    display: flex;
    @include tablets{
        flex-direction: column;
        padding: 0 18%;
    }
    @include phones{
        padding: 0;
        font-size: 1.142rem;
    }
    &__col{
        flex: 1;
        margin-right: 52px;

        &:last-child{
            margin-right: 0;
        }
        @include tablets{
            margin-right: 0;
        }
    }
    &__row{
        display: flex;
        margin-bottom: 18px;
    }
    &__block{
        flex: 1;
        margin-right: 1rem;

        &:last-child{
            margin-right: 0;
        }
        @include tablets{
            margin-right: 20px;
        }
    }
    &__input{
        box-sizing: border-box;
        width: 100%;
        border: none;
        padding: 18px 10px;
        border: 3px solid transparent;
        border-radius: 5px;
        &--error{
            border-color: orange;
            
        }
        &--textarea{
            height: 120px;
            resize: none;
            margin-bottom: 10px;
            @include tablets{
                height: 90px;
            }
        }
        &:focus{
            border-color: $red;
            outline: none;
            color: $red;
        }
        @include tablets{
            padding: 8px 10px;
        }
    }

    &__controls{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;

        &--radio{
            margin-bottom: 44px;
        }
        @include phones{
            justify-content: center;
        }
    }
    &__btns{
        margin-bottom: 85px;
        .btn{
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
        @include tablets{
            display: flex;
            justify-content: center;
        }
    }
}
