@keyframes plays{
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}
.player {
    width: 80%;
    height: 100%;
    display: block;
    position: relative;
    &__wrapper {
        height: 100%;
    }
    &__elem{
        height: 100%;
        width: 100%;

        background-color: #000;
    }
   

    &__splash {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: #00000090;
    }

    &__controls {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 35px;
        background: #151515;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__start {
        &-controls {
            margin-right: 20px;
            width: 1%;
        }
    }

    &__playback {
        width: 75%;
        height: 5px;
        background: #333;
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 20px;
        &-button {
            transition: background-color .2s;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            left: 0;

            &:hover {
                background-color: $red;
            }
        }
        &-indicator{
            height: 100%;
            width: 0;
            background-color: $red;
            position: absolute;
        }
    }
   
    &__volume-button--off {
        margin-right: 10px;
        &:hover {
            .player__volume-icon {
                fill: $red;
            }
        }

        &.active {
            .player__volume-icon {
                fill: $red;
            }
        }
        

    }
    &__volume-icon {
        transition: fill .2s;
        fill: white;
        display: flex;
        width: 20px;
        height: 20px;
    }
    &__volume {
        width: 10%;
        height: 5px;
        background: #333;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &-button {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: white;
            transition: background-color .2s;
            position: absolute;
            left: 0;

            &:hover {
                background-color: $red;
            }

        }
        &-indicator{
            height: 100%;
            width: 0;
            background-color: $red;
            position: absolute;
            left: 0;
        }

    }


    &.paused {
        .playback__start {
            display: none;
        }

        .playback__paused {
            display: flex;
        }

        .player__splash{
            animation: plays 1s forwards;
        }
    }

}

.player__container {
    display: flex;
    justify-content: center;
    height: 500px;

    @include tablets {
        height: 400px;
    }

    @include phones {
        height: 300px;
    }
}

.playback__start {
    fill: white;
    display: flex;
    align-items: center;
    width: 50px;
    height: 70px;
    transition: display .1s;

    &:hover {
        fill: $red;
    }

    &--mini {
        width: 12px;
        height: 20px;
    }

}

.playback__paused {
    fill: white;
    display: none;
    align-items: center;
    width: 50px;
    height: 70px;
    transition: display .1s;

    &:hover {
        fill: $red;
    }

    &--mini {
        width: 11px;
        height: 16px;
    }
}

