.products-menu-section{
    background: url('./img/color-menu.png') center center/cover no-repeat;
    position: relative;
    color: #fff;
    &__title{
        position: absolute;
        top: 15%;
        left: 10%;
        z-index: 1;
    }
}
.products-menu{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 500;
    @include phones{
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
    }
        
    &__item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 500;
        font-family: $nav-font;
        @include phones{
            position: absolute;
            height: 100%;
            z-index: 1;
            &.--one{
                right: 220px;
            }&.--two{
                right: 110px;
            }&.--three{
                right: 0;
            }
        }
        &.active{
            @include phones{
                position: absolute;
                left: 0;
                height: 100%;
                z-index: 999;
            }
            .products-menu__content{
                @include phones{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 108px;
                    transition: width .5s;
                    &.--one{
                        width: 178% !important;
                        
                    }&.--two{
                        width: 120% !important;
                       
                    }&.--three{
                        width: 100% !important;
                    
                    }
                }
            }
        }
    }
    &__title{
        position: relative;
        display: flex;
        
        &.--gray{
            background: #999;
        }
        &.--black{
            background: #151515;
        }
        &.--red{
            background: $red;
        }
    }
    &__text{
        font-size: 36px;
        font-weight: 700;
        writing-mode: vertical-lr;
        rotate: 180deg;
        padding: 30px;
    }
    &__content{
        background: #333537E5;
        width: 0;
        position: relative;
        overflow: hidden;
        -webkit-transition: width .7s;
        -o-transition: width .7s;
        transition: width .7s;
        &-text{
            line-height: 1.6;
        
        }
    
    }
    &__container{
        padding: 30px 130px 35px 35px;
        @include phones{
            font-size: 19px;
            width: 100vw !important;
        }
    }
}