.slider__section{
    position: relative;
    &::before{
        content: url('../img/icons/decoration/rect.svg');
        position: absolute;
        bottom: -25px;
        right: 5%;

    }
}
.arrow{
    width: 13.5px;
    height: 27px;
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
    fill: none;
    &--right{
        transform: rotate(180deg)
    }
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    .slide{
    overflow: hidden;
    }
    &__control{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;

        &--left{
            
            right: 99%;
            
        }
        &--right{
            left: 99%;
        }
        @include tablets{
            display: none;
        }
        
    }
    &__btn{
        &--tablets{
            @include desktop{
                display: none !important;
            }
        }
    }

    &__product{
        display: flex;
        align-items: center;
        @include desktop{
            margin: 0 20px;
        }
        @include tablets{
            flex-direction: column;
            text-align: center;
        }
        

        &-image{
            width: 150%;
            
            margin-right: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include tablets{
             width: 41.47%; 
             margin-bottom: 50px;  
             margin-right: 0;
            }
            img{
                width: 100%;
                height: auto;
                @include tablets{
                    margin: 0 60px;
                }
            }
        }
        
        &-info{
            display: flex;
            flex-direction: column;
        }
    }
    &__hide-info{
        box-sizing: border-box;
        margin-bottom: 10px;
        position: relative;
        @include tablets{
            display: none;
        }
        .setting{
            width: 91px;
            height: 91px;
            fill: white;
        }
        &-btn{
            position: relative;
            &:hover .character-list{
                display: flex;
                flex-direction: column;
            }
                

        }
        .character-list{
            display: none;
            position: absolute;
            background: #cccccccc;

            top: -76px;
            left: 91px;
            border-radius: 4px;
            width: 273px;
            min-height: 290px;
            z-index: 99999;
            padding: 18px 14px;
            box-shadow: 4px 4px 40px 0px #0000000F;



        }
    }
    &__title{
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 24px;
        line-height: 1.3;
    }
    &__main-info{
        padding: 0 50px 0 0;
        @include tablets{
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__desc{
        color: $desc-text-color;
        margin-bottom: 10px;
    }
    &__main-characters-list{
        color: $desc-text-color;
        display: flex;
        margin-bottom: 15px;
       .main-characters-item{
        margin-right: 85px;
        &:last-child{
            margin-right: 0;
        }
       }
    }
    &__buy-section{
        display: flex;
        align-items: center;
    }
    &__price{
        font-size: 36px;
        color: #151515;
        margin-right: 20px;
        white-space: nowrap;
    }
        
    
}
.character{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    &-item{
        margin-bottom: 5px;
        &-icon{
            width: 24px;
            height: 24px;
            margin-right: 15px;
            
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__name{
        display: flex;
    }
}