.team{
    display: flex;
    flex-direction: column;
    min-height: 454px;
    width: 222px;
    position: relative;
    @include tablets{
        min-height: auto;
        
    }
    &__pic{
        width: 100%;
        height: 290px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        & img{
            width: 100%;
            height: 100%;
        }
       
        
        
    }
    &__content{
        padding: 5px;
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: height .3s;
        @include tablets{
            padding: 0;
            
        }

       
        
    }
    &__name{
        font-size: 18px;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
        display: inline-block;
        transition: color .2s;
        &:hover{
            color: $red;
        }
        &::after{
            content: url('./img/icons/decoration/team-active.svg');
            margin-left: 5px;
            display: inline-block;
            transition: transform .5s;
        }
        
       &--active::after{
            transform: rotate(180deg) translateY(-25%);
       }
        

           
       
        
    }
    &__info{
        margin-top: 2px;
        
        @include tablets{
            margin-bottom: 20px;
        }
        
    }
    
    &__spec{
        color: #000;
        margin-bottom: 5px;
        
    }
    &__desc{
        color: $desc-text-color;
        
        
    }
}