@import "team.scss";
.teams__list{
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    &--desktop{
        @include tablets{
            display: none;
        }
    }
    &--tablets{
        @include desktop{
            display: none;
        }
    }
    @include tablets{
        flex-direction: column;
        align-items: center;
    }
}
.teams__item{
    margin-right: 15px;
    display: flex;
    align-items: center;
    &:last-child{
        margin-right: 0;
    }
    @include tablets{
        margin-right: 0;
        margin-bottom: 20px;
    }

    
}
