.color{
    min-height: rem(652px);
    color: #fff;
    background: url('../img/color-menu.png') center center no-repeat;
    position: relative;

    &__title{
        text-transform: uppercase;
        font-size: rem(48px);
        font-weight: 700;
        padding: 10% 0 0 8%;
    }

    &__list{
        display: inline-flex;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    &__item{
        height: 100%;
        display: flex;
    }
    &__button-open{
        
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        height: rem(652px);
        padding: rem(30px);
        font-family: $nav-font;
        font-size: 36px;
        font-weight: 700;
        

        &--gray{
            background-color: #999;
        }
        &--black{
            background-color: #151515;
        }
        &--red{
            background-color: $red;
        }
    }
    &__content{
        width: 0;
        overflow: hidden;
        background: #333537E5;
        font-family: $nav-font;
        line-height: 1.6;
        transition: width .5s;
    }
    &__text{
        width: rem(550px);
        overflow: hidden;
        padding: 30px 100px 30px 30px;
        
    }
}