@import "feature.scss";


.features {
    display: flex;
    @include phones{
        flex-direction: column;
    }
    &__item{
        flex: 1;
        padding: 0 3%;
        position: relative;
        &::after{
            content: url('../img/icons/separator.png');
            position: absolute;
            top: rem(55px);
            right: 0;
            transform: translateX(50%);
            @include tablets{
                display: none;
            }
           
        }
        @include phones{
            padding: 0;
            margin-bottom: rem(20px);
        }
        
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;

            &::after{
                display: none;
            }
        }
    }

}
