.fixed-menu{
    position: fixed;
    top: 20%;
    right: 3%;
    z-index: 999;
    @include tablets{
        display: none;
    }

    &__item{
        margin-bottom: rem(5px);
        opacity: 60%;

        &--active{
            opacity: 100;
            .fixed-menu__link{
                border-color: $red;

                &::before{
                    background: $red;
                }

            }
        }
    }
    &__link{
        width: rem(16px);
        height: rem(16px);
        border-radius: 50%;
        border: rem(1px) solid transparent;
        display: block;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: rem(6px);
            height: rem(6px);
            display: block;
            border-radius: 50%;
            background: $main-text-color;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
    }
}