.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(25px) 0;
    background: #fff;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include phones{
            flex-direction: column;
            text-align: center;
        }
    }
    &__info{
        font-size: 1.125rem;
        @include phones{
            margin-bottom: rem(20px);
        }
        @include tablets{
            &-location{
                font-size: 1.4rem;
                @include phones{
                    font-size: 1.285rem;
                }
            }
            
        }
        &-phone{
            display: inline-flex;
            align-items: center;
            transition: color .2s, text-decoration .2s, fill .2s;
            &:hover{
                color: $red;
                text-decoration: underline;
                fill: $red;
            }
        }
        .contacts__icon{
            width: rem(14px);
            height: rem(14px);
            margin-right: rem(5px);
        }
        
    }
    &__phone {
        
        position: relative;
        @include tablets{
            font-size: 1.2rem;
            @include phones{
                font-size: 1.142rem;
            }
        }

        
        
    }
    

    &__nav{

        &-list{
            display: flex;
            
        }
        &-item{
            width: rem(30px);
            height: rem(30px);
            margin-right: rem(10px);
            border-radius:  50%;
            &:last-child{
                margin-right: 0;
            }
        }
        &-link{
            width: 100%;
            height: 100%;
        }
        &-icon{
            width: 30px;
            height: 30px;
            fill: #B3B3B3;
            &:hover{
                fill: black;
            }
        }
        
    }
}