.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 25px 0 25px 0;

    .logo {
        margin-right: -30px;
    }

    .menu {
        font-family: $nav-font;
        font-weight: 400;

        &__list {
            display: flex;
        }

        &__item {
            margin-right: 27px;
            transition: color .2s, text-decoration .2s;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $red;
                text-decoration: underline;
            }
        }
    }

    .contacts {
        margin-right: 25px;


        &__phone {
            transition: color .2s, text-decoration .2s;
            position: relative;

            &:before {
                content: url(../img/phone.png);
                position: absolute;
                left: -22px;
            }
        }

        &__phone:hover {
            color: $red;
            text-decoration: underline;
        }
    }
    .nav__hide{
        width: 26.11px;
        height: 4.44px;
        background: #292929;
        position: relative;
        border-radius: 5px;
        display: none;
        transition: background .3s;
        &:hover{
            background: $red;
            &::after, &::before{
                background: $red;
            }
        }
        &::after{
            content: "";
            width: 26.11px;
            height: 4.44px;
            background: #292929;
            border-radius: 5px;
            position: absolute;
            top: -8px;
            transition: background .3s;
            
        }
        &::before{
            content: "";
            width: 26.11px;
            height: 4.44px;
            background: #292929;
            border-radius: 5px;
            position: absolute;
            bottom: -8px;
            transition: background .3s;
            
        }
       
    }
}


