.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(18px);
    padding: rem(25px) 0 rem(25px) 0;

    .logo {
        margin-right: rem(-30px);
        &__icon{
            width: rem(40px);
            height: rem(40px);
            fill: $red;
        }
    }

    .menu {
        font-family: $nav-font;
        font-weight: 400;
        margin: 0px rem(35px);

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }

        &__item {
            margin-right: rem(27px);
            margin-bottom: rem(5px);
            transition: color .2s, text-decoration .2s;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $red;
                text-decoration: underline;
            }
        }

        @include tablets{
            display: none;
        }
       
    }

    .contacts {
        margin-right: rem(25px);
        display: inline-flex;
        align-items: center;
        transition: color .2s, text-decoration .2s, fill .2s;

        &__icon{
            width: rem(14px);
            height: rem(14px);
            margin-right: rem(5px);
        }
        &:hover{
            color: $red;
            text-decoration: underline;
            fill: $red;
        }
        @include tablets{
            display: none;
        }
    }
    .nav__hide{
        width: rem(26.11px);
        height: rem(4.44px);
        background: #292929;
        position: relative;
        border-radius: rem(5px);
        display: none;
        transition: background .3s;
        &:hover{
            background: $red;
            &::after, &::before{
                background: $red;
            }
        }
        &::after{
            content: "";
            width: rem(26.11px);
            height: rem(4.44px);
            background: #292929;
            border-radius: rem(5px);
            position: absolute;
            top: rem(-8px);
            transition: background .3s;
            
        }
        &::before{
            content: "";
            width: rem(26.11px);
            height: rem(4.44px);
            background: #292929;
            border-radius: rem(5px);
            position: absolute;
            bottom: rem(-8px);
            transition: background .3s;
            
        }
        @include tablets{
            display: inline-flex;
        }
    }
}


