.hero {
    position: relative;
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 645px;
        position: relative;
        
    }
    
}