.map{
    &__section{
        min-height: 652px;
        @include tablets{
            min-height: 526px;
        }
        @include phones{
            min-height: 482px;
        }
    }
        content: url('../img/icons/map.png');
        width: 100%;
        height: 652px;
        @include tablets{
            height: 526px;
        }
        @include phones{
            height: 482px;
        }
}