.radio{
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: rem(15px);
    margin-bottom: rem(10px);
    @include tablets{
        margin-bottom: rem(10px);
    }
    @include phones{
        font-size: 1.142rem;
    }
    &--checkbox{
        
        .radio__visible{
            border-radius: rem(5px);
            &::before{
                background: url('../img/icons/decoration/tick.svg') center center no-repeat;
            }
        }
    }

    &__elem{
       display: none;

        &:checked ~ .radio__visible{
            &::before{
                display: block;
            }
        }
    }
    &__visible{ 
        width: rem(25px);
        height: rem(25px);
        position: relative;
        border-radius: 50%;
        background: #fff;
        margin-right: rem(10px);

        &::before{
            content: "";
            display: none;
            width: rem(14px);
            height: rem(14px);
            background: $red;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}