.radio{
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: 15px;

    &--checkbox{
        
        .radio__visible{
            border-radius: 5px;
            &::before{
                background: url('../img/icons/tick.png') center center no-repeat;
            }
        }
    }

    &__elem{
       display: none;

        &:checked ~ .radio__visible{
            &::before{
                display: block;
            }
        }
    }
    &__visible{ 
        width: 25px;
        height: 25px;
        position: relative;
        border-radius: 50%;
        background: #fff;
        margin-right: 10px;

        &::before{
            content: "";
            display: none;
            width: 14px;
            height: 14px;
            background: $red;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}