
.reviews {
    display: flex;
    flex-direction: column;
    position: relative;
   
    .review {
        
        background: #F8FAF9;
        padding: rem(42px);
        margin-bottom: rem(10px);
        position: relative;
        display: none;
        &--active{
            display: flex;
        }
        @include tablets{
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin-bottom: rem(25px);
        }
        &::after{
            content: '';
            width: rem(83px);
            height: rem(83px);
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            top: rem(-60px);
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            
        }

        &__photo {
            object-fit: cover;
            width:100%;
            height: 100%;
            margin-right: rem(36px);
            @include tablets{
                margin-right: 0;
            }
            &-user{
                @include tablets{
                    width: 130px;
                    height: 130px;
                }
            }
        }

        &__data {
            display: flex;
            flex-direction: column;
            padding: rem(32px) rem(32px) rem(0px) rem(0px);
        }

        &__title {
            font-size: rem(24px);
            font-weight: 700;
            margin-bottom: rem(20px);
        }

        &__text {
            color: $desc-text-color;
            margin-bottom: rem(40px);
            padding-right: rem(50px);
            line-height: 1.2;
            @include tablets{
                padding: 0;
            }
            @include phones{
                font-size: 1.142rem;
            }
        }

        &__user-name {
            font-size: rem(18px);
            font-weight: 700;
        }
    }

    &__pager {
        display: flex;
        justify-content: center;
        margin-bottom: rem(75px);
    }

    &__list {
        display: flex;
    }

    &__item {
        width: 70px;
        height: 70px;
        
        border-radius: 50%;
        position: relative;
        margin-right: rem(5px);
        &--active {
            .reviews__item-img{
                border-color: $red;
            }
        }
        &:hover{
            .reviews__item-img{
                border-color: $red;
            }
        }
        @include tablets{
            margin-right: rem(10px);
        }
        @include phones{
            margin-right: rem(5px);
        }
    }

    &__link{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
    }
    &__item-img{
        display: block;
        width: 73px;
        height: 73px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid transparent;
        @include phones{
            width: 64px;
            height: 64px;
            
        }
    }
}