@import "team.scss";
.teams__list{
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    @include tablets{
        flex-direction: column;
        align-items: center;
    }
}
.teams__item{
    margin-right: rem(15px);
    display: flex;
    align-items: center;
    &:last-child{
        margin-right: 0;
    }
    @include tablets{
        margin-right: 0;
    }
}
