@import "specification.scss";
.welcome {
    padding-top: 62px;
    background: url(../img/headphones_white.png) right center / 50% auto no-repeat;
    &__img-section{
        display: none;
    }
    &__text-section {
        width: 35%;
        margin-bottom: 80px;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.1;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__desc {
        font-size: 21px;
        font-family: $nav-font;
        margin-bottom: 50px;
    }

    &__specification-section {
        width: 60%;
    }

    &__specification-list {
        display: flex;
        flex-wrap: wrap;
    }

    &__specification-item {
        margin-right: 10px;
        margin-bottom: 60px;
    }

}