//width 
$container-width: 1100px;
// color
$gray: #F5F5F5;
$red: #E01F3D;

$main-text-color: #292929;
$desc-text-color: #666;
$spec-text-color: #000;
$price-text-color: #151515;

// fonts
$main-font: 'Play', sans-serif;
$nav-font: 'Alegreya Sans', sans-serif;


// fonts-size
@import "./media.scss";
$baseFontSize: 16px;
$title: 48px;
$desc: 16px;
$sub_title: 21px;

// media 
$tablets: 768px;
$phones: 480px;


// setups

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap');
@import "./layout.scss";


//components
@import "./components/*.scss";







